/* MAIN FONTS */

@font-face
{
    font-family: 'Raleway';
    src: url(fonts/Raleway.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* MAIN CONFIG */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body{
    font-family: 'Raleway';
    font-size: 1.4rem;
}

section, footer{
   padding-top: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-bottom: 2rem;
 }

h1, h2{
  font-size: 2.2rem;
}

h3{
  font-size: 1.8rem;
}

p, li, a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

i{
  font-size: 2rem;
}
/* HEADER */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header a {
    padding: 0 25px;
    color: #000;
    text-decoration: none;
    transition: color .2s;
    order: 2;
}

.logo
    {
    margin-top: 0;
    margin-left: 20px;
    margin-right: auto;
    order: 1;
    }


nav{
      flex-basis: 100%;
      margin-top: 25px;
      width: 100%;
      order: 3;
}

nav ul
{
    display: flex;
    padding: 0;
    height: 100%;
    list-style-type: none;
}
nav li{
  align-items: stretch;

    width: 50%;
    text-align: center;
  }


nav a{
  padding-top: 20px;
  border-bottom: 3px solid #F2F2F2;
}

nav a:hover
{
    padding-top: 20px;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
}

header > a
{
    margin-right: 10px;
    font-weight: bold;
    color: #0065fc;
}

header > a:hover
{
    color: #83b4fd;
}

/* SEARCH SECTION */

.title p {
  margin-top : 1rem;
}

.search-container{
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.locate-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #f2f2f2;

}
.locate-icon i {
    color: #111111;
}

.search-bar{
  padding-top: 1.2em;
  padding-bottom: 0.9em;
  padding-left: 3.5rem;
  padding-right: 2.5rem;
  font-weight: 900;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-left: none;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}


.search-bar input[type="search"]{
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  color: #111111;
}

.cta-search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: #0065FC;
  margin-left: -10px;
}

.cta-search-icon i{
  color : #ffffff;
}

.cta-search-text{
  visibility: collapse;
}

/* FILTER SECTION */

#filter-section h2{
  font-weight: bold;
}

.filter-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-items {
    display: flex;
    align-items: center;
    margin: 0.3rem;
    margin-top: 1rem ;
}

.filter-icons{
  z-index: 1;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #DEEBFF;

}
.icon-wrapper i {
    color: #0065FC;
}

.filter-text{
  padding-top: 1.2em;
  padding-bottom: 0.9em;
  padding-left: 3.5rem;
  padding-right: 2.5rem;
  font-weight: 900;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-left: none;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
  align-items: center;
  margin-left: -3rem;
  overflow: hidden;
  z-index: -1;
}

.filter-info {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.filter-info i{
  color: #0065FC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  overflow: hidden;
  font-size:1rem;
  width: 3rem;
  height: 3rem;
  background-color: none;
  margin-right: 1rem;

}

.filter-info {
  margin: 2rem;
}

/* POPULAR */
#popular-container{
  background: #f2f2f2;
}



.popular-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.vignette2{
  background: #ffffff;
  max-width: 350px;
  height: 135px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.image_populaires{
  width: 127px;
height: 135px;
  border-radius: 20px 0 0 20px;
  padding: 5px;
}

.popular-content-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 40px 0 15px;
}

.popular-hotel-name p{
  font-size: 1.4rem;
  margin-top: 1rem;
}

.popular-hotel-name h3{
  font-size: 1.6rem;
}

.prix{
  font-weight: 900;
}

.fa-star {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.blue{
  color: #0065FC;
}

.grey{
color: #D9D9D9;
}
.ranking{

}
/* LODGES */
#hebergements_marseille{
}

.titre_marseille{
  margin: 1.2rem;
}
.vignette1{
  max-width: 350px;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 2px 2px 7px rgb(177 177 177 / 40%);
  margin: 1.2rem;
}

.image_marseille{
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
}

.info_vignette_marseille{
  padding: 5px;
  margin-left: 10px;
  line-height: 1.5;
}

.info_vignette_marseille h3{
  font-size: 1.6rem;
}

.info_vignette_marseille p{
  font-size: 1.4rem;
}

.prix {
  font-weight: 900;
}

#plus{
  font-size: 1.8rem;
}
/* ACTIVITIES */

#activites_marseille{
}
.vignettes_activites h3{
  padding: 15px;
}
.vignette_L, .vignette_M, .vignette_S{
  max-width: 350px;
  border-radius: 20px;
  margin: 25px 15px 25px 15px;
  box-shadow: 2px 2px 7px rgb(177 177 177 / 40%);
}
.image_activites{
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
/* FOOTER */

footer {
  background: #f2f2f2;
}

.footer-content {
  padding: 1.5rem 0;
}

footer ul,
footer ul li {
  padding: 0.5rem 0;
}

footer ul li a:hover {
  color: #0065fc;
  transition: all 0.2s ease-in-out;
}
