/* Large Desktop and Large Screen */
@media screen and (min-width: 1200px) and (max-width: 2400px) {

  /* MAIN CONFIG */

  section, footer{

   }

div{
  display: block;
}


/* HEADER */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 5rem;
}

.header-container{
  padding-top: 0;
}

.logo{
  order: 0;
  margin: 0 auto 0 0;
  padding-top: 4rem;
}

header nav{
  order: 1;
  display: block;
  width : auto;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 0rem;
 }

 header li{
   padding-top: 6.7rem;
   padding-bottom: 0px;
   border-bottom: none;
   padding-left: 3.5rem;
   padding-right: 3.5rem;
   border-top: solid 3px #fff;
 }

 header li:hover{
   border-bottom: none;
   border-top: solid 3px #0065FC;
 }

 .cta{
   order: 2;
   padding-top: 6.7rem;
   padding-right: 7rem;
   padding-left: 3.5rem;
 }

/* SEARCH SECTION */

#search{
  margin-top: 2rem;
  margin-left: 5rem;
  padding: 0;
}

.cta-search-icon{
display:none;
}

.search-bar input[type="submit"]{
    display: flex;
}



/* FILTER SECTION */
#filter-section{
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 0;
  padding-bottom: 0;
}

#filter-section h2{
padding-right: 3rem;
}

.filter-info{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

/* MAIN */
#main_1{
  display:flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* POPULAR */
#popular-container{
  border-radius: 1.5rem;
  width: 33.33%;
  order: 2;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.popular-title{
  margin: 2rem;
}

.popular-content{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-around;
justify-content: space-around;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.popular-hotel-name p{
  font-size: 1.3rem;
  line-height: 150%;
}

.vignette2 {
width: 345px;
height: 145px;
  margin:0 ;
}

.image_populaires{
  height: auto;
}

/* LODGES */
#hebergements_marseille{
background: #f2f2f2;
border-radius: 1.5rem;
width: 66.66%;
order: 1;
margin-right: 2rem;
padding: 3rem;
}

.vignette1{
  background-color: #ffffff;
  width: 30%;
}

.vignettes_marseille{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.ranking{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#plus{
  padding-left: 1rem;
  padding-top: 2rem;

}

  /* ACTIVITIES */
#activites_marseille{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0;
}

.titre_activites{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.vignettes_activites{
  border-radius: 15px;
  display: flex;
  padding: 0;
}

.colonne_1, .colonne_2{
  width: 25%;
}

.colonne_2{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content:space-between;
}

.bloc{
  margin: 2rem;
  padding-top: 0rem;
}

.image_activites_L {
  height: 388px;
}

.image_activites_M {
  height: 180px;
}

.image_activites_S {
  height: 110px;
}

/* FOOTER */
  footer {
  margin: 0;
  padding: 3rem;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-content {
    width: 30%;
  }
  .footer-content {
    padding: 2rem;
  }
}
